@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

/* --------- Global style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3F13A4;
    font-family: 'Open sans', sans-serif;
    color: #595959;
    text-align: center;
}

/* --------- Heading */
.heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    width: 100%;
}

.logo {
    height: 3rem;
    margin: 0 auto;
    padding-top: 0.5em;
}

.header-icon {
display: flex;
line-height: 2rem;
padding-bottom: 1em;
}

.header-icon .game-rule {
background-color: white;
    border: 1px solid;
    font-size: 3.2rem;
    margin: 0 30px;
    width: 36px;
    height: 2rem;
    position: absolute;
    right: 1%;
    top: 2%;
}

/* --------- Home Page layout */
.how {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

.start-quiz-home {
    position: absolute;
    background-color:#FAFAFA;
    width: 80%;
    height: 70vh;
    margin: 5rem auto;
    max-height: 600px;
    max-width: 850px;
    border-style: ridge;
    border-radius: 10px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .game-rule i{
    width: 2.5rem;
    background-color: #FAFAFA;
} */

.user-input-area {
    margin-top: 2rem;
}

input {
    width: 10rem;
    height: 3rem;
    border-radius: 8px;
}

.initiate-quiz-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    width: 100%; 
    padding-top: 0.5em;
}
.rules {
    width: 10rem;
    height: 3rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #FAFAFA;
    margin: 1rem auto;
    background-color: #6B35E8;
    border-radius: 8px;
}

.next {
    width: 10rem;
    height: 3rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #FAFAFA;
    margin: 0 auto;
    background-color: #6B35E8;
    border-radius: 8px;
}
