@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

/* --------- Global style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3F13A4;
    font-family: 'Open sans', sans-serif;
    color: #595959;
    text-align: center;
}

/* --------- Heading */
.heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    width: 100%;
}

.logo {
    height: 3rem;
    margin: 0 auto;
    padding-top: 0.5em;
}

.header-icon {
display: flex;
line-height: 1;
/* display: inline-block; */
}

.header-icon .game-rule-icon {
background-color: white;
    border: 1px solid;
    font-size: 1.5rem;
    margin: 0 1rem;
    width: 5%;
    height: 1.8rem;
    position: absolute;
    right: 1%;
    top: 2%;
}

/* --------- Home Page layout */
.start-quiz-home {
    position: absolute;
    background-color:#FAFAFA;
    width: 80%;
    height: 70vh;
    margin: 5rem auto;
    max-height: 600px;
    max-width: 850px;
    border-style: ridge;
    border-radius: 10px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 /* Quiz Rule Box  */
.rule-box {
    width: 100%;
    /* position: relative; */
    background-color:#FAFAFA;
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
}

.rule-title {
    width: 100%;
    height: 3.5rem;
    font-size: 2rem;
    padding: 0 2em;
}

.rules {
    margin: 1.5rem 2.5rem;
    text-align: justify;
}

.rule {
    margin: 0.3rem 0;
    font-size: 1.3rem;
}

/* Quiz Rule Box Buttons */
.rule-box .buttons {
    display: flex;
    place-content: center;
    height: 4rem;
    border-top: 1px solid #595959;
    color: #FAFAFA;
}

.rule-box .buttons button,
.go-home {
    font-size: 1rem;
    font-weight: 500;
    width: 6rem;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid #3F13A4;
    margin: 0.5rem;
    color: #3f13a4;
    background-color: #FAFAFA;
}

/* Select Level of Difficulty */
#selection-area {
    display: grid;
    background-color:#FAFAFA;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.select-quiz {
    margin: 1.5rem 0 1rem 0;
    font-size: 1.6rem;
}

.level-button {
    display: grid;
}

.level-button button {
    width: 10rem;
    height: 3rem;
    color: #FAFAFA;
    margin: 1rem auto;
    background-color: #6B35E8;
    border-radius: 8px; 
    font-size: 1.3rem;
    border: none;
}

.quiz-intro-txt {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

/* .game-rule i{
    width: 2.5rem;
    background-color: #FAFAFA;
} */

.user-input-area {
    margin-top: 2rem;
}

input {
    width: 10rem;
    height: 3rem;
    border-radius: 8px;
}

.initiate-quiz-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    width: 100%; 
    padding-top: 0.5em;
}

.next {
    width: 10rem;
    height: 3rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #FAFAFA;
    margin: 0 auto;
    background-color: #6B35E8;
    border-radius: 8px;
}
